:root {
    --primary-color:#3c8dbc;
    --success-color:#008d4c;
}

@media (max-width: 767px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

body {
    /*font-size: 13px;*/
}

textarea {
	resize:none;
}

.table>tbody>tr>td,.table>thead>tr>th {
    vertical-align:middle;
}

.tbl-primary thead th {
    border:1px solid var(--primary-color);
    background-color:var(--primary-color);
    color:#fff;
}

/*.tbl-primary thead th {
    border-bottom:1px solid var(--primary-color) !important;
}

.tbl-primary th:first-child {
    border-left-color:var(--primary-color);
}

.tbl-primary th:last-child {
    border-right-color:var(--primary-color);
}*/

.tbl-success thead {
    border:1px solid var(--success-color);
    background-color:var(--success-color);
    color:#fff;
}

.tbl-success th {
    border-bottom:1px solid var(--success-color) !important;
}

.tbl-success th:first-child {
    border-left-color:var(--success-color);
}

.tbl-success th:last-child {
    border-right-color:var(--success-color);
}

.text-danger {
    color:#dd4b39;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}

/*.box-body .form-group:last-child {
    margin-bottom:0px;
}*/

.inline-comm {
    padding:2px;
}

.page-overlay {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(255,255,255,0.7);
    z-index:10000;
}

.page-overlay .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.modal-err {
	background-color: #dd4b39 !important;
	color:#fff;
}

.modal-cfrm {
	background-color: #d58512 !important;
	color:#fff;
}

.modal-pri .modal-header {
	background-color: var(--primary-color);;
	color:#fff;
}

.modal-suc .modal-header {
	background-color: var(--success-color);;
	color:#fff;
}

.toast {
	position: fixed;
	max-width: 50%;
	color: #fff;
	top:65px;
	left:50%;
	border-radius: 100px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	z-index:1000000;
	box-shadow: 0px 0px 10px #666666;
	text-align: center;
	transform: translate(-50%);
	display: none;
}

.toast-info {
	background-color: #00a65a;
}

.toast-err {
	background-color: #ac2925;
}

/*
.active-suc a {
    background-color: #00a65a !important;
    border-color: #008d4c !important;
    color:#fff !important;
}*/

.pdfobject-container {
	width: 100%;
	height: 600px;
}

@media (max-width: 767px) {
    .navbar-nav {
        display:inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left:0px;
    }
}

.form .select2-container, form .select2-container  {
    width:100% !important;
}

.select2 .selection {
    text-align:left;
}

/*.form-inline .select2-container {
    width:initial !important;
}*/

.cmd {
    margin:3px;
}

.box.box-solid>.box-header>.box-tools .btn {
    border: 1px solid #d2d6de;
}

.box-trans {
    border-top:0px;
    box-shadow:none;
    position: relative;
    border-radius: 0px;
    background: #ffffff;
    margin-bottom: 20px;
}

.box-trans .overlay {
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
}
.box-trans>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-trans .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(255,255,255,0.7);
}

.overlay .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 20px !important;
}