<div class="row">
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-body">
                <div id="bar-chart" style="height:250px"></div>
                <p class="text-center"><b>Thống kê số lượng nhà trọ theo Tỉnh/Tp</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-body">
                <div id="donut-chart" style="height:250px"></div>
                <p class="text-center"><b>Thống kê số lượng phòng trọ theo tình trạng</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body" id="map-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control select2" id="cmb-tinh"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control select2" id="cmb-huyen"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="map-container" style="height:600px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="map-legend" style="margin-top:10px"></div>
                </div>
            </div>
        </div>
    </div>
</div>