<div class="row">
    <div class="col-md-12">
        <div class="box box-solid" id="box-search">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control select2" id="cmb-q-tinh">
                                <option value="-1">Tất cả các tỉnh/thành phố</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control select2" id="cmb-q-huyen">
                                <option value="-1">Tất cả các quận/huyện</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control select2" id="cmb-q-xa">
                                <option value="-1">Tất cả các xã/phường/thị trấn</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control select2" id="cmb-q-chu-tro">
                                <option value="-1">Tất cả các chủ trọ</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txt-q-ten" placeholder="Tên khu trọ">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txt-q-dia-chi" placeholder="Số nhà, tên đường">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-default btn-flat" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                        <button class="btn btn-default btn-flat" id="btn-clear"><i class="fa fa-times"></i> Làm mới</button>
                        <button class="btn btn-primary btn-flat" id="btn-add" data-toggle="modal" data-target="#mod-khu-tro"><i class="fa fa-plus"></i> Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header">
                <h4 class="box-title">DANH SÁCH KHU TRỌ</h4>
            </div>
            <div class="box-body">
                <div id="lst-item"></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal edit khu tro -->
<div class="modal" role="dialog" id="mod-khu-tro">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="mod-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>THÔNG TIN KHU TRỌ</h4>
                <form id="frm-khu-tro">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="hidden" name="idKhuTro" id="txt-id">
                                <select class="form-control select2" id="cmb-tinh"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control select2" id="cmb-huyen"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control select2" id="cmb-xa" name="xaPhuong.idXaPhuong"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control select2" id="cmb-chu-tro" name="chuKhuTro.idChuKhuTro"></select>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="number" name="viDo" id="txt-lat" class="form-control" placeholder="Vĩ độ">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="number" name="kinhDo" id="txt-lon" class="form-control" placeholder="Kinh độ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="tenKhuTro" id="txt-ten" class="form-control" placeholder="Tên khu trọ">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="diaChi" id="txt-dia-chi" class="form-control" placeholder="Số nhà, tên đường">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-flat btn-default" title="Tìm tọa độ" id="btn-find-coordinate"><i class="fa fa-map-marker"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center form-group">
                            <button type="button" class="btn btn-flat btn-success" id="btn-computing"><i class="fa fa-map"></i> Tính khoảng cách</button>
                            <button type="button" class="btn btn-flat btn-primary" id="btn-save"><i class="fa fa-check"></i> Lưu thông tin</button>
                            <button class="btn btn-flat btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div id="lst-truong"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal edit loai phong -->
<div class="modal" role="dialog" id="mod-loai-phong">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="mod-body-loai-phong">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>THÔNG TIN LOẠI PHÒNG TRỌ</h4>
                <form id="frm-loai-phong">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" name="khuTro.idKhuTro" id="txt-id-khu-tro">
                                <input type="hidden" name="idLoaiPhong" id="txt-id-loai-phong">
                                <input type="text" name="tenLoaiPhong" id="txt-ten-loai-phong" class="form-control" placeholder="Tên loại phòng">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control" name="dienTich" id="txt-dien-tich" placeholder="Diện tích (m2)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control" name="soNguoiO" id="txt-so-nguoi-o" placeholder="Số người ở">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="idGiaThue" id="txt-id-gia-thue">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="giaThue" id="txt-gia-thue" placeholder="Giá thuê/tháng">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-flat btn-default" title="Giá thuê mới" id="btn-new-price"><i class="fa fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="date" class="form-control" name="ngayApDung" id="txt-ngay-ad" title="Ngày áp dụng" placeholder="Ngày áp dụng">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="moTa" id="txt-mo-ta" rows="3" class="form-control" placeholder="Mô tả"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="check-box">
                        <label><input type="checkbox" name="coGac" id="chk-gac" value="1"> Có gác</label>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center form-group">
                            <button type="button" class="btn btn-flat btn-primary" id="btn-save-loai-phong"><i class="fa fa-check"></i> Lưu thông tin</button>
                            <button type="button" class="btn btn-flat btn-default" id="btn-clear-loai-phong"><i class="fa fa-refresh"></i> Xóa</button>
                            <button class="btn btn-flat btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div id="lst-loai-phong"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal edit phong tro -->
<div class="modal" role="dialog" id="mod-phong-tro">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="mod-body-phong-tro">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>THÔNG TIN PHÒNG TRỌ</h4>
                <form id="frm-phong-tro">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control select2" name="loaiPhong.idLoaiPhong" id="cmb-loai-phong"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control select2" name="tinhTrang.idTinhTrang" id="cmb-tinh-trang"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" id="txt-id-khu-tro-pt">
                                <input type="hidden" name="idPhongTro" id="txt-id-phong-tro">
                                <input type="text" name="sttPhong" id="txt-stt-phong" class="form-control" placeholder="Số thứ tự phòng">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center form-group">
                            <button type="button" class="btn btn-flat btn-primary" id="btn-save-phong-tro"><i class="fa fa-check"></i> Lưu thông tin</button>
                            <button type="button" class="btn btn-flat btn-default" id="btn-clear-phong-tro"><i class="fa fa-refresh"></i> Xóa</button>
                            <button class="btn btn-flat btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div id="lst-phong-tro"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>